<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>SoccerLeague</servlet-name>
		<servlet-class>soccerLeague.SoccerLeagueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoccerLeague</servlet-name>
		<url-pattern>/soccerleague</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>soccerLeague.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Maketeam</servlet-name>
		<servlet-class>soccerLeague.MakeTeamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Maketeam</servlet-name>
		<url-pattern>/maketeam</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>AdminTeamUpdate</servlet-name>
		<servlet-class>soccerLeague.AdminTeamUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminTeamUpdate</servlet-name>
		<url-pattern>/adminteamupdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminPlayerUpdate</servlet-name>
		<servlet-class>soccerLeague.AdminPlayerUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminPlayerUpdate</servlet-name>
		<url-pattern>/adminplayerupdate</url-pattern>
	</servlet-mapping>






	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
